# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/

# Env
.env
*.env.local

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/
